<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.contactapp3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ContactApp3">
        <activity android:name=".mostrar_publicaciones_user"></activity>
        <activity android:name=".borrar" />
        <activity android:name=".actualizar" />
        <activity android:name=".publicar" />
        <activity android:name=".crear_anuncio" />
        <activity android:name=".categorias_emp" />
        <activity android:name=".recuperar" />
        <activity android:name=".crear_cuenta" />
        <activity android:name=".detalle" />
        <activity android:name=".mostrar_publicaciones" />
        <activity android:name=".categorias" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>